<header>
    <ul class="nav_ul">
        <li class="nav_li"><a class="{{ index }}" href="{{ url_for('index') }}">Home</a></li>
        <li class="nav_li"><a class="{{ dungeon}}" href="{{ url_for('dungeon') }}">Dungeon</a></li>
        <li class="nav_li"><a class="{{ room }}" href="{{ url_for('room') }}">Room</a></li>
        <li class="nav_li"><a class="{{ map }}" href="{{ url_for('map') }}">Map</a></li>
        <li class="nav_li"><a class="{{ monsters }}" href="{{ url_for('monsters') }}">Monsters</a></li>
        <li class="nav_li"><a class="{{treasure }}" href="{{ url_for('treasure') }}">Treasure</a></li>
    </ul>
</header>